/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  margin: 0px;
	padding: 0px;
	background: url(/images/bg_texture.png) repeat 0 0;
	font-family: Verdana, Helvetica, sans-serif;
	color: #000000;
	line-height: 1;
	text-rendering: optimizeLegibility;
  font-family: "proxima-nova-extra-condensed-1","proxima-nova-extra-condensed-2", sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */

.clearfix:before, .clearfix:after {
    content: "\0020"; 
    display: block; 
    height: 0; 
    overflow: hidden;
}

.clearfix:after { clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */

.clearfix { zoom: 1; }

.container {
  position: relative;
  top: 40px;
  width: 850px;
	margin: 0 auto;
  line-height: 12em;
}

.sign {
  padding: 20px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  -moz-box-shadow:  0 0 25px #000;
  -webkit-box-shadow: 0 0 25px #000;
  box-shadow: 0 0 25px #000;

}

.inner {
  padding: 0 20px 20px 20px;
  color: #ffffff;
  background: #000000;
}

.sorry {
  font-size: 14em;
  font-family: "bistro-script-web-1", "bistro-script-web-2";
  font-weight: 400;

  transform:rotate(-7deg);
  -ms-transform:rotate(-7deg); /* IE 9 */
  -moz-transform:rotate(-7deg); /* Firefox */
  -webkit-transform:rotate(-7deg); /* Safari and Chrome */
  -o-transform:rotate(-7deg); /* Opera */

}

.stroke {
  width: 200px;
  height: 50px;
  float: left;
  clear: both;
  margin: 10px 0 0 70px;
  background: url(/images/stroke.png);
}

.been {
  color: #b3b3b3;
  float: right;
  font-size: 13em;
  margin-top: -100px;
}

.working {
  color: #fa0000;
  clear: both;
  font-size: 15em;
}

.footer-nav  {
  line-height: 0px;
  text-align: center;
  margin: 20px auto;
}

.footer-nav li {
  display: inline;
}

.footer-nav li a {
  display: inline-block;
  padding: 10px 5px;
}

.services {
  width: 30px;
  height: 30px;
  background-image: url(/images/services-set-grey.png);
}

.services:hover {
  background-image: url(/images/services-set.png);
}

.services a {
  margin: 0;
  padding: 0;
}

.twitter {
  background-position: -80px 0px;
}

.github {
  background-position: -240px -40px;
}

.zerply {
  background-position: -360px -40px;
}

.linkedin {
  background-position: -240px 0px;
}
