/* Entry */
@import 'scale';
@import 'layout';
@import 'colors';
// @import 'typography';
@import 'spacing';

// @import 'button';

*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: $theme-dark;
  background: $theme-light;
}

%section {
  height: 24rem;
}

.shadow {
  text-shadow: 0 1px $theme-dark;
}

.header {
  background: $shade-1;
  @extend %section;
}

.section-1 {
  background-color: $shade-2;
  @extend %section;
}

.section-2 {
  background-color: $shade-3;
  @extend %section;
}

.project {
}

.hero {
}

.footer {
}

