@import 'mixins';

.row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 #{$up-2}rem;
}

@include breakpoints('.col', 12) {
  display: flex;
  flex: 0 1 auto;
}

@include breakpoints('.top') {
  align-items: flex-start;
}

@include breakpoints('.middle') {
  align-items: center;
}

@include breakpoints('.bottom') {
  align-items: flex-end;
}

@include breakpoints('.around') {
  justify-content: space-around;
}

@include breakpoints('.between') {
  justify-content: space-between;
}

