@import 'mixins';

.row {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 #{$up-2}rem;
}

@include breakpoints('.col', 12) {
  @include queries {
    display: flex;
    flex: 0 1 auto;
  }
}

@include breakpoints('.top') {
  @include queries {
    align-items: flex-start;
  }
}

@include breakpoints('.middle') {
  @include queries {
    align-items: center;
  }
}

@include breakpoints('.bottom') {
  @include queries {
    align-items: flex-end;
  }
}

@include breakpoints('.around') {
  @include queries {
    justify-content: space-around;
  }
}

@include breakpoints('.between') {
  @include queries {
    justify-content: space-between;
  }
}

