@import 'scale';
/* Margin */
.mt {
  margin-top: #{$base}rem;
}

.mt-1 {
  margin-top: #{$up-1}rem;
}

.mt-2 {
  margin-top: #{$up-2}rem;
}

.mt-3 {
  margin-top: #{$up-3}rem;
}

.mt-4 {
  margin-top: #{$up-4}rem;
}

.mt-5 {
  margin-top: #{$up-5}rem;
}

.mr {
  margin-right: #{$base}rem;
}

.mr-1 {
  margin-right: #{$up-1}rem;
}

.mr-2 {
  margin-right: #{$up-2}rem;
}

.mr-3 {
  margin-right: #{$up-3}rem;
}

.mr-4 {
  margin-right: #{$up-4}rem;
}

.mr-5 {
  margin-right: #{$up-5}rem;
}

.mb {
  margin-bottom: #{$base}rem;
}

.mb-1 {
  margin-bottom: #{$up-1}rem;
}

.mb-2 {
  margin-bottom: #{$up-2}rem;
}

.mb-3 {
  margin-bottom: #{$up-3}rem;
}

.mb-4 {
  margin-bottom: #{$up-4}rem;
}

.mb-5 {
  margin-bottom: #{$up-5}rem;
}

.ml {
  margin-left: #{$base}rem;
}

.ml-1 {
  margin-left: #{$up-1}rem;
}

.ml-2 {
  margin-left: #{$up-2}rem;
}

.ml-3 {
  margin-left: #{$up-3}rem;
}

.ml-4 {
  margin-left: #{$up-4}rem;
}

.ml-5 {
  margin-left: #{$up-5}rem;
}

/* Padding */
.pt {
  padding-top: #{$base}rem;
}

.pt-1 {
  padding-top: #{$up-1}rem;
}

.pt-2 {
  padding-top: #{$up-2}rem;
}

.pt-3 {
  padding-top: #{$up-3}rem;
}

.pt-4 {
  padding-top: #{$up-4}rem;
}

.pt-5 {
  padding-top: #{$up-5}rem;
}

.pr {
  padding-right: #{$base}rem;
}

.pr-1 {
  padding-right: #{$up-1}rem;
}

.pr-2 {
  padding-right: #{$up-2}rem;
}

.pr-3 {
  padding-right: #{$up-3}rem;
}

.pr-4 {
  padding-right: #{$up-4}rem;
}

.pr-5 {
  padding-right: #{$up-5}rem;
}

.pb {
  padding-bottom: #{$base}rem;
}

.pb-1 {
  padding-bottom: #{$up-1}rem;
}

.pb-2 {
  padding-bottom: #{$up-2}rem;
}

.pb-3 {
  padding-bottom: #{$up-3}rem;
}

.pb-4 {
  padding-bottom: #{$up-4}rem;
}

.pb-5 {
  padding-bottom: #{$up-5}rem;
}

.pl {
  padding-left: #{$base}rem;
}

.pl-1 {
  padding-left: #{$up-1}rem;
}

.pl-2 {
  padding-left: #{$up-2}rem;
}

.pl-3 {
  padding-left: #{$up-3}rem;
}

.pl-4 {
  padding-left: #{$up-4}rem;
}

.pl-5 {
  padding-left: #{$up-5}rem;
}
