/* Typography */
@import 'fonts/regular';
@import 'fonts/bold';
@import 'fonts/light-italic';
@import 'scale';

html {
  font-size: 16px;
}

body {
  font-family: "Gibson", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-size: #{$base}rem;
  line-height: $base;
  letter-spacing: 0.618;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-weight: normal;
}

.right-xs {
  text-align: right;
}

.center-xs {
  text-align: center;
}

.left-xs {
  text-align: left;
}

.text {
  line-height: $ratio;
}

.light {
  font-weight: 200;
}

.regular {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

.xs {
  font-size: #{$dwn-2}rem;
}

.sm {
  font-size: #{$dwn-1}rem;
}

.md {
  font-size: #{$base}rem;
}

.lg {
  font-size: #{$up-1}rem;
}

.xl {
  font-size: #{$up-2}rem;
}

.xxl {
  font-size: #{$up-3}rem;
}

.space-1 {
  letter-spacing: #{$base}px;
}

@media screen and (min-width: 48) {

  .right-sm {
    text-align: right;
  }

  .center-sm {
    text-align: center;
  }

  .left-sm {
    text-align: left;
  }

}

